body {
  text-align: center;
  background: #ccc;
  padding: 1%;
}

.page-container {
  width: 100%;
  border: 2px solid black;
}

.output-container {
  width: 95%;
  margin: auto;
  overflow: auto;
  font-size: 20px;
}

input {
  width: 70vmin;
}

select {
  width: 70vmin;
}

footer {
  margin: 5vmax 0 5vmax 0;
}

fieldset {
  margin: 0 2.5% 0 2.5%;
  padding: 2.5% 2% 2.5% 2%;
}
